<ng-progress></ng-progress>
<h1 style="text-align:center" class="header"> <strong>User Profile</strong> </h1>
<div class = "container">
      <div class="panel panel-default">
        <div class ="panel-heading">
           <p style="font-size: 200%" class = "idname">{{user.name}}</p>
        </div>
        <div class ="panel-body">
            <div style = text-align:center>
              <img src="{{user.avatar_url}}" class = "col-sm-3" alt="">
            </div>
            <br>
            <div class="row">
              <div class="col-md-4">
                  <ul class = "list-group-item">
                      <p>               
                          <span class = "label label-success">Followers: {{user.followers}} </span>
                          <span class = "label label-warning">Following: {{user.following}} </span>
                          <span class = "label label-danger">Repositories: {{user.public_repos}} </span>  
                      </p>     
                    <li>User Name: {{ user.login}}</li>
                    <li *ngIf = "user.bio">{{user.bio}}</li>
                    <li *ngIf = "user.email">Email: {{user.email}}</li>                   
                    <li *ngIf = "user.location"> Location:{{user.location}}</li>
                    <p> <a href="{{user.html_url}}" target="_blank" class =" btn btn-info btn-sm">User Profile on Github</a> </p>
                                
                  </ul>
              </div>
              <div class="col-md-8">                                 
                    <h2 style="text-align:center"> <strong>Repositories</strong> </h2>
                    <!---<div *ngFor= "let repo of repos">-->
                      <p> {{repos.name}} </p> 
                                         
              </div>
                
            </div>
        </div>
      </div>
</div>
