<div class= "container-fluid">
  
    <form (ngSubmit) = 'submitUser()' #user ='ngForm'>
      <div class="form-group">
        <input type="text" placeholder="Enter GitHub UserName Here" class="form-control" [(ngModel)] = "newUser.login" name="login"Required>
        <!--<div [hidden]= "login.valid || login.pristine" class = "alert alert-danger">
          <p>Github User Name is Required</p>
        </div>-->

      </div>
      <button type="submit" class= "btn btn-info bt-lg">Search User</button>
    </form>
  
</div>